.chart_container {
  width: 98%;
  height: 250px;
  border: 1px solid #eee;
  margin-bottom: 20px;
}

.fallback_on_chart {
  color: #999;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.fallback {
  color: #999;
  font-style: italic;
}
