#api_button {
  margin-left: 12px;
  color: white !important;
  background-color: rgb(69, 172, 216);
}

#api_button:hover {
  background-color: rgb(134, 212, 245);
}

#icon {
  font-size: 18px;
  vertical-align: sub;
}
