.container {
  position: relative;
  width: 137px;
  height: 22px;
}

.numberContainer {
  position: absolute;
  top: 0;
  right: 0;
  width: 62px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.score {
  font-size: 13px;
  font-weight: 500;
  color: black;
}
