.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  max-width: 200px;
  width: 100%;
  height: auto;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
}

#title {
  color: #234461;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

#footer_container {
  text-align: center;
  margin: 15px;
  padding: 30px;
  background-color: #e2e6ec;
}
