.logo {
  transition: all ease-in-out 300ms;
  width: auto;
  height: auto;
}

.logo:hover {
  transform: scale(1.1, 1.1);
}

.width_370 {
  max-width: 370px;
}

#title {
  color: #234461;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
}

#footer_container {
  text-align: center;
  margin: 15px;
  padding: 30px;

  background-color: #e2e6ec;
}

@media (max-width: 767px) {
  .logo {
    padding: 25px;
  }
}
