#fixedWidget {
  z-index: 1000;
  position: fixed;
  top: 50%;
  left: -35px;
  width: 110px;
  box-shadow: rgba(93, 90, 50, 0.162) 0px 2px 6px 4px,
    rgba(79, 78, 75, 0.12) -5px 7px 10px 6px;
  transform: rotate(-90deg);
  letter-spacing: 1px;
  opacity: 0.9;
}
