.ul {
  list-style-type: none;
}

.hr {
  background-color: rgb(226, 230, 241);
  border: none;
  height: 1px;
  margin-right: 50px;
}

#white_text {
  color: white;
  display: inline;
  font-size: 17px;
}

.text {
  font-weight: 500;
  color: rgb(82, 99, 126);
  font-size: 18px;
}

#avatar {
  margin-top: 7px;
  font-size: 26px !important;
  font-weight: 600;
  border: 1px solid #e0e0e0;
}

#avatar > img {
  object-fit: contain;
}

@media screen and (max-width: 600px) {
  .ul {
    padding-left: 7px;
  }
}
