#title {
  margin: 0 10px 0 0;
  z-index: 1;
}

.scimago_container {
  position: absolute;
  bottom: 0;
  right: 18px;
}

.source_item {
  list-style-type: none;
  background-color: white;
  border-radius: 7px;
  padding: 20px 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  z-index: 1;
  position: relative;
  overflow: hidden;
}

.source_item::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(/media/pattern.svg);
  background-size: cover;
  opacity: 0.7;
  z-index: 0;
}

.source_item_list {
  border-bottom: 5px solid #f5f5f5;
  padding-bottom: 20px;
  margin-top: 15px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.005), 0 5px 6px rgba(0, 0, 0, 0.008),
    0 8px 10px rgba(0, 0, 0, 0.01), 0 11px 20px rgba(0, 0, 0, 0.015);
}

.source_container {
  margin-left: 125px;
  margin-right: 10px;
  min-height: 150px;
  font-size: 16px;
  color: rgb(134, 134, 149);
}

.source_title {
  color: #1c4747;
  font-size: 18px;
  font-weight: 600;
  margin-right: 10px;
}

.ribbon {
  padding: 5px 5px !important;
}

@media screen and (max-width: 767px) {
  .source_container {
    margin-left: 15px;
    margin-right: 10px;
    padding-top: 50px;
  }

  .ribbon {
    width: auto !important;
  }

  .ribbon > span {
    margin: 2px 30px;
  }

  .scimago_container {
    position: static;
    margin: 12px 0 0 10px;
  }
}
