.hr {
  background-color: #f9f9f9;
  border: none;
  height: 4px;
  margin-bottom: 15px;
}

.work_item {
  border-bottom: 5px solid #f5f5f5;
  margin-bottom: 15px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.005), 0 5px 6px rgba(0, 0, 0, 0.008),
    0 8px 10px rgba(0, 0, 0, 0.01), 0 11px 20px rgba(0, 0, 0, 0.015);
}

.work_container {
  margin-left: 125px;
  margin-right: 10px;
  font-size: 16px;
  color: rgb(134, 134, 149);
}

.ribbon {
  padding: 5px 5px !important;
}

.badges_container {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .work_container {
    margin-left: 15px;
    margin-right: 10px;
    padding-top: 50px;
  }

  .ribbon {
    width: auto !important;
  }

  .ribbon > span {
    margin: 2px 30px;
  }
}
