@import "~antd/dist/antd.less";

.ant-menu-sub.ant-menu-inline {
  background-color: #112130;
}

.ant-menu-inline-collapsed {
  width: 50px;
}

.ant-input-group-addon {
  border-radius: 4px;
}

.ant-input-search
  > .ant-input-group
  > .ant-input-group-addon:last-child
  .ant-input-search-button {
  border-radius: 0 4px 4px 0;
}

.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab-active {
  border-bottom: 0px;
}

.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active {
  background-color: #eaeae6;
}

.ant-avatar > img {
  object-fit: contain;
}

.ant-list-item-meta-avatar {
  border: 1px solid #eaeae6;
  border-radius: 5px;
}

.ant-typography + h3.ant-typography {
  margin-top: 0px;
  margin-bottom: 0px;
}

.scholar {
  .st0 {
    fill: #4285f4;
  }
  .st1 {
    fill: #356ac3;
  }
  .st2 {
    fill: #a0c3ff;
  }
  .st3 {
    fill: #76a7fa;
  }
}

.researcherid {
  .st0 {
    fill: #505050;
  }
  .st1 {
    fill: #f58220;
  }
}

#YearlyCitationsChartContainer,
#VennChartContainer {
  position: absolute;
  width: 100%;
  height: 100%;
}

.ant-layout-header {
  @media (max-width: 575px) {
    line-height: 60px;
  }
}

.ant-layout-sider {
  overflow: auto;
  height: 100vh;
  position: fixed;
  top: 80px;
  @media (max-width: 575px) {
    top: 120px;
  }
  z-index: 2;
  left: 0;
  border-top: 5px solid #eaeae6;
}

.ant-layout-content {
  margin: 90px 15px 15px 65px;
  @media (max-width: 575px) {
    margin: 125px 5px 15px 55px;
  }
  transition: opacity 0.5s;
}

.sidebar-title {
  margin: 0;
  height: 48px;
  background: #14382b;
  color: #eaaf63;
}

.sidebar-button {
  width: 240px;
  margin: 30px;
  position: absolute;
  bottom: 100px;
  @media (max-width: 575px) {
    bottom: 150px;
  }
  color: #162736;
  font-weight: 600;
}

.tAc {
  text-align: center;
}

.logo-colav-header {
  width: 160px;
}

.grid-citations-card {
  width: 33.3%;
  @media (max-width: 575px) {
    width: 100%;
  }
  height: 40px;
  margin-top: 10px;
  padding-top: 8px;
  text-align: center;
}

.footer__logo {
  transition: all ease-in-out 300ms;
}

.footer__logo:hover {
  transform: scale(1.1, 1.1);
}

.document-link {
  margin-left: 0;
  color: #1e3448;
  font-weight: 600;
}

#venn-chart {
  width: 100%;
  height: 100%;
  border: 1px solid #eaeae6;
}

.loading-card-container {
  text-align: center;
}

.pattern {
  background-color: #ffffff;
  background-image: url(/logos/pattern.svg);
}

.btn_home {
  background-color: #eaeae6;
  width: 250px;
  color: #9d3715;
}
