@import "~antd/dist/antd.less";

.ant-input-group-wrapper {
  vertical-align: middle;
  padding-left: 5px;
  padding-right: 5px;
}

.ant-menu-inline-collapsed {
  width: 50px;
}

.ant-select {
  font-size: 14px;
}

.ant-input-group-addon {
  border-radius: 4px;
}

.ant-input-lg {
  padding: 6.3px 11px;
  font-size: 16px;
}

.ant-input-search
  > .ant-input-group
  > .ant-input-group-addon:last-child
  .ant-input-search-button {
  border-radius: 0 4px 4px 0;
}

.ant-avatar > img {
  object-fit: contain;
}

.ant-list-item-meta-avatar {
  border: 1px solid #eaeae6;
  border-radius: 5px;
}

h2.ant-typography,
.ant-typography h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.ant-input-search .ant-input-lg {
  line-height: 1.6;
}

.scholar {
  .st0 {
    fill: #4285f4;
  }
  .st1 {
    fill: #356ac3;
  }
  .st2 {
    fill: #a0c3ff;
  }
  .st3 {
    fill: #76a7fa;
  }
}

.researcherid {
  .st0 {
    fill: #505050;
  }
  .st1 {
    fill: #f58220;
  }
}
